

<div class="main-container">
  <div class="media-container">
    <video #videoPlayer class="media-video" [class.hidden]="!showVideoPlayer" controls></video>
    <img *ngIf="!showVideoPlayer" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/f0b328bb-0c7f-4058-acc9-9234c67b23fe/da3tkl9-d631daa4-352c-489f-9827-64065b44b83e.png/v1/fill/w_800,h_450,q_80,strp/logo___media_player_classic_by_convalise_da3tkl9-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NDUwIiwicGF0aCI6IlwvZlwvZjBiMzI4YmItMGM3Zi00MDU4LWFjYzktOTIzNGM2N2IyM2ZlXC9kYTN0a2w5LWQ2MzFkYWE0LTM1MmMtNDg5Zi05ODI3LTY0MDY1YjQ0YjgzZS5wbmciLCJ3aWR0aCI6Ijw9ODAwIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmltYWdlLm9wZXJhdGlvbnMiXX0.Sn_gp4b3hMbdsHHtwDhLWh5nUwrjiGj635kvDbSBAEo" />
  </div>

  <div class="controls-container" [class.hidden]="!showControls">
    <div class="slider-container" (click)="seekTrack($event)">
      <div class="slider-bar" [style.width.%]="(currentTimeInSeconds / durationInSeconds) * 100"></div>
      <div class="slider-knob-container">
        <div class="slider-knob" [style.left.%]="(currentTimeInSeconds / durationInSeconds) * 100"></div>
      </div>
    </div>

    <div class="track-info">
      <span class="track-title">{{ currentTrack?.name || currentVideo?.name }}</span>
    </div>
    <div class="track-time">
      <span>{{ currentTime }}</span> / <span>{{ duration }}</span>
    </div>

    <button (click)="playPreviousTrack()">
      <i class="fa fa-backward"></i>
    </button>
    <button (click)="togglePlayPause()">
      <i [class]="isPlaying ? 'fa fa-pause' : 'fa fa-play'"></i>
    </button>
    <button (click)="playNextTrack()">
      <i class="fa fa-forward"></i>
    </button>
    <button (click)="toggleRepeatMode()">
      <i [ngClass]="{
            'fa fa-times': repeatMode === 'none',
            'fa-solid fa-1': repeatMode === 'single',
            'fa-solid fa-repeat': repeatMode === 'all'
          }"></i>
    </button>


    <input
      id="volumeSlider"
      type="range"
      min="0"
      max="1"
      step="0.01"
      value="0.2"
      (input)="setVolume($event)">
  </div>

  <div class="main-container" [class.menu-open]="isMenuOpen">
    <div id="menuPanel" class="menu-panel" [class.open]="isMenuOpen">
      <div class="menu-buttons">
        <button class="menu-item" routerLink="/profile">Profile</button>
        <button class="menu-item" routerLink="/upload">Upload</button>
      </div>
    </div>

    <button id="menuButton" class="menu-button" (click)="toggleMenu()">
      <i class="fa fa-bars"></i>
    </button>
  </div>

  <router-outlet></router-outlet>

  <button class="toggle-media-list" (click)="toggleMediaList()">
    {{ showTracks ? 'Show Videos' : 'Show Tracks' }}
  </button>

  <!-- Список треків -->

<div class="track-list" *ngIf="showTracks">
  <h2>Треки</h2>
  <div *ngFor="let track of tracks"
       class="track-item"
       [ngClass]="{'active': track === currentTrack}">

    <button class="delete-button" (click)="deleteTrack($event, track)">
      <i class="fa fa-trash"></i>
    </button>
    
    <div class="track-cover-container">
      <img src="https://st5.depositphotos.com/15985744/65632/v/450/depositphotos_656321876-stock-illustration-colorful-vector-poster-cat-listening.jpg"
           class="track-cover" />
               <button class="play-button" (click)="togglePlay(track)">
      <i class="fa fa-play"></i>
    </button>
    </div>

    <div class="track-info">
      <p class="track-title">{{ track.name }}</p>
      <p class="track-artist">{{ track.author }}</p>
    </div>
  </div>
</div>

  <!-- Список відео -->
  <div class="video-list" *ngIf="!showTracks">
    <h2>Відео</h2>
    <div *ngFor="let video of videos" class="video-item" [ngClass]="{'active': video === currentVideo}">
      <div class="video-cover-container">
        <img src="https://st5.depositphotos.com/15985744/65632/v/450/depositphotos_656321876-stock-illustration-colorful-vector-poster-cat-listening.jpg" class="track-cover" />
        <button class="play-button" (click)="openVideoInNewTab(video)">
          <i class="fa fa-play"></i>
        </button>
      </div>
      <div class="video-info">
        <p class="video-title">{{ video.name }}</p>
        <p class="video-artist">{{ video.author }}</p>
      </div>
      <button class="delete-button" (click)="deleteVideo(video)">
        <i class="fa fa-trash"></i>
      </button>
    </div>
  </div>
</div>